extends layouts/main

block content
  h2 Password Reset Request
  p Hello #{userName},
  p We received a request to reset your password for your account.
  p Please use the confirmation code below to proceed with your password reset:
  .token-box
    | #{token}
  .warning
    p ⚠️ Security Notice:
    ul
      li This code will expire in 15 minutes
      li If you didn't request this reset, please ignore this email
      li Never share this code with anyone
  p To complete your password reset, enter this code in the application along with your new password.
  p If you're having trouble or didn't request this reset, please contact our support team immediately.
  p Best regards,
  p The Security Team
